.cartContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.cartContainer h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}